<h3>Ability Scores</h3>
<% if !@role.attr_set.blank? %>
<ul class="role-ability-scores">
  <li>
    <p class="label">Strength</p>
    <p class="value"><%= @role.attr_set.strength %></p>
    <p class="shield-foot"><%= show_mod(:strength) %></p>
  </li>
  <li>
    <p class="label">Dexterity</p>
    <p class="value"><%= @role.attr_set.dexterity %></p>
    <p class="shield-foot"><%= show_mod(:dexterity) %></p>
  </li>
  <li>
    <p class="label">Constitution</p>
    <p class="value"><%= @role.attr_set.constitution %></p>
    <p class="shield-foot"><%= show_mod(:constitution) %></p>
  </li>
  <li>
    <p class="label">Intelligence</p>
    <p class="value"><%= @role.attr_set.intelligence %></p>
    <p class="shield-foot"><%= show_mod(:intelligence) %></p>
  </li>
  <li>
    <p class="label">Wisdom</p>
    <p class="value"><%= @role.attr_set.wisdom %></p>
    <p class="shield-foot"><%= show_mod(:wisdom) %></p>
  </li>
  <li>
    <p class="label">Charisma</p>
    <p class="value"><%= @role.attr_set.charisma %></p>
    <p class="shield-foot"><%= show_mod(:charisma) %></p>
  </li>
</ul>
<% else %>
<div class="filler">
  <script type="text/ng-template" id="initializeAttrs.html">
    <%= render :partial => "roles/attributes/attr_init" %>
  </script>
  <%= content_tag :a, "Initialize With Random Ability Scores", :href => "", :ng_hide => "initializeAttrs.open", :ng_click => "openInitializeAttrs('random')" %>
  <%= content_tag :a, "Initialize With Standard Ability Scores", :href => "", :ng_hide => "initializeAttrs.open", :ng_click => "openInitializeAttrs('standard')" %>
</div>
<% end %>
<div ng-include="activeForm()"></div>