<%= form_for(@player) do |f| %>
  <div class="player-form-wrapper" ng-controller="PlayerFormController">
    <% if @player.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

        <ul>
        <% @player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <div>
        <%= f.label :name, "*Name" %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :profile_img_url, "Profile Picture URL" %>
        <img ng-src="{{ profileImgUrl }}" class="profile-img">
        <%= f.text_field :profile_img_url, :ng_model => "profileImgUrl", :ng_init => ("profileImgUrl = " + get_player_img_url) %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
