<p id="notice"><%= notice %></p>

<h1>All Players</h1>
<ul class="player-list">
<% if @players.length > 0 %>
  <% @players.each do |player| %>
  <li>
    <a class="player-link" href="<%= player_path(player) %>">
      <div class="player-name">
        <%= player.name %>
      </div>
      <div class="player-img">
        <img src="<%= player.profile_img_url %>">
      </div>
    </a>
  </li>
  <% end %>
  <li>
    <a class="player-link" href="<%= new_player_path %>">
      <div class="player-name">
        Add a Player
      </div>
      <div class="player-img add-item-img">
        <div>+</div>
      </div>
    </a>
  </li>
<% end %>
</ul>
<h3 class="disclaimer">Disclaimer:</h3>
<p>As everyone can access any player's characters (and alter them) at any time. Please don't tamper with anyone else's content.</p>