<p id="notice"><%= notice %></p>
<h2><%= @player.name %></h2>
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Player List', players_path %>
<hr>
<div>
  <h3>Roles</h3>
  <% if @player.roles.length > 0 %>
    <% @player.roles.each do |role| %>
    <li>
      <h4><%= role.name %></h4>
      <div>
        <span><%= role.type %></span>
      </div>
    </li>
    <% end %>
</div>
<hr>
<%= link_to 'Home', pages_path %>
