<p id="notice"><%= notice %></p>
<div class="role-display">
<p>
  <div class="value-header">Name:</div>
  <%= @role.name %>
</p>

<p>
  <div class="value-header">Class:</div>
  <%= @role.role_type %>
</p>

<p>
  <div class="value-header">Race:</div>
  <%= @role.race %>
</p>

<p>
  <div class="value-header">Description:</div>
  <%= @role.description %>
</p>
</div>
<%= link_to 'Delete', player_role_path(@player, @role), :method => :delete, :data => {confirm: "Are you sure you wish to delete this role?"} %> |
<%= link_to 'Edit', edit_player_role_path(@player, @role) %> |
<%= link_to 'Back', player_path(@player) %>
