<!DOCTYPE html>
<html lang="en-us" ng-app="dnd_app">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DnD Roles</title>
  <%= favicon_link_tag 'dnd_favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <h1 id="app-logo"><a href="/">DnD Roles</a></h1>
    <h2 id="app-signature">by Radben13</h2>
    <nav>
      <ul>
        <% if active_session %>
          <li><%= link_to current_player.name, player_path(current_player) %></li>
          <li><%= link_to "Items", items_path %></li>
          <li>
            <%= link_to logout_path do %>
              logout <i class="fa fa-sign-out"></i>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "Items", items_path %></li>
          <li>
            <%= link_to login_path do %>
              login <i class="fa fa-sign-in"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
</header>
<div class="wrapper">
<div class="notification">
  <% if !alert.blank? %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <% if !notice.blank? %>
    <p class="notice"><%= notice %></p>
  <% end %>
</div>
<%= yield %>
</div>

<footer>
  <div class="copyright">
    <p>&copy; 2015 Braden Van Wagenen</p>
    <p>Free For Everyone</p>
  </div>
</footer>
</body>
</html>
